
:root {
--white: #ffffff;
--black-1: #202020;
--primary: #1b90fc;
--grey: #929292;
--headline1: 700 2.5rem/normal Roboto Condensed;
--subtitle1: 700 1.625rem/1.5rem Roboto Condensed;
--button: 700 0.875rem/1rem Roboto;
--headline2: 700 1.5rem/normal Roboto Condensed;
--body1-regular: 400 1rem/1.5rem Roboto;
--body1-bold: 700 1rem/1.5rem Roboto;
--body2-bold: 700 0.875rem/1.5rem Roboto;
--body2-regular: 400 0.875rem/1.5rem Roboto;
--caption-regular: 400 0.75rem/1.5rem Roboto;
--caption-bold: 700 0.75rem/1.5rem Roboto;

}

body {
  margin: 0;
  color: var(--primary);
  font: var(--body1-regular);
  /* font: var(--headline1); */
}

h1{
  font: var(--headline1);
}

h2{
  font: var(--headline2);
}

h3{
  font: var(--button);
}

.wrapper {
  max-inline-size: 1664px;
  margin: auto;
  /* border: 1px solid blue; */
  /* overflow: hidden; */
}
p, h1 {
  margin: 0;
}

.hero h1 {
  font-family: var(--headline1);
  font-size: 40px;
  margin-block-end: 8px;
}

.hero p {
  font-family: var(--body1-regular);
  font-size: 16px;
  line-height: 24px;
  margin-block-end: 24px;
}

img {
  max-inline-size: 100%;
}

button {
  background-color: var(--primary);
  color: var(--white);
  padding-block: 16px;
  padding-inline: 32px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 16px;
}

.hero-content {
  block-size: 768px;
  display: flex;
  align-items: center;
}

.card {
  max-inline-size: 412px;
  margin-left: 83px;
  color: var(--white);
  z-index: 2;
}
.hero::before {
  content: '';
  inline-size: 50%;
  display: block;
  block-size: 100%;
  background: var(--black-1);
  position: absolute;
  inset-block: 0;
  z-index: 1;
  clip-path: polygon(0 0, calc(100% - 151px) 0, 100% 100%, 0 100% );
}
.hero {
  /* border: 1px solid red; */
  background-color: var(--black-1);
  background-image: url('../images/img.jpg');
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 128px), 0 100%);
}